body{
    background: url("https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/skin/421.jpg?2");
    background-size: cover;
}

#header{
    /*background-color: #ff0000;*/
    text-align: right;
}
#header a{
    color: #333;
    font-family: "arial";
    font-size: 13px;
    margin: 10px 0px  10px 20px;
    font-weight: bold;
    line-height: 24px;

}
#header a.no-weight{
    font-weight: normal;
}
#header a.more-proguct{
    background-color: #3385ff;
    border: 1px solid #2d78f4;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 55px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
#content{
    /*background-color: #ff0000;*/
    text-align: center;
    margin-top: 30px;
}
#content img{
    width: 270px;
    height: 129px;
    text-align: center;
    left: 50%;
}
#content input{
    width: 500px;
    height: 30px;
    padding: 5px;
    border: 1px solid #dddddd;
    outline: none;

}

#content input:hover{
    border-color: #2d78f4;
}
#content input:focus{
    border-color: aqua;
}

#content a{
    background-color: #3385ff;
    border: 1px solid #2d78f4;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-left: -5px;
    border: 1px solid #2d78f4;
    padding: 4px;

}
#footer{
    /*background-color:red;*/
    text-align: center;
    font-size: 12px;

}
#footer .footer-header{
    margin-top: 600px;
}
#footer .footer-header a{
    color: #00c;
    margin: 0px 5px;
}
#footer .footer-bottom{
    color: #666;
}
#footer .footer-bottom a{
    color: #666;
}